#new-quote {
  color: red;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
}

#button-container {
  justify-items: center;
  text-align: center;
}
