#new-quote {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 1.3em;
  margin: 1em 0.5em 1em 0.5em;
  background-color: hsla(0, 0%, 44%, 0.644);
  border-radius: 10px;
  font-weight: 500;
}
#new-quote:hover {
  background-color: hsla(0, 0%, 100%, 0.753);
  transform: scale(1.1, 1.1);
}

#button-container {
  justify-items: center;
  text-align: center;
}
