#new-quote {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 3vh;
  margin: 1vh;
  background-color: hsla(0, 0%, 100%, 0.329);
  border-radius: 3px;
}

#button-container {
  justify-items: center;
  text-align: center;
}
