#whatsapp-quote {
  color: #4fce5d;
}
#tweet-quote {
  color: #38a1f3;
}
#buttonSS-container {
  text-align: center;
  justify-items: center;
  align-self: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  margin: auto;
}
