#whatsapp-quote {
  color: #4fce5d;
}
#tweet-quote {
  color: #38a1f3;
}

.buttonClass {
  background-color: hsla(0, 0%, 44%, 0.644);
  border-radius: 10px;
  margin: 1em 0.3em 1em 0.3em;
}

.buttonClass:hover {
  background-color: hsla(0, 0%, 100%, 0.753);
  transform: scale(1.1, 1.1);
}
