#card-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 6vh;
  margin: 3vh;
  color: red;
}

#author {
  text-align: center;
  font-size: 3vh;
  font-weight: 200;
  color: red;
}

#buttonSS-container {
  text-align: center;
  margin: auto;
  font-weight: 400;
  font-size: 4vh;
}

#text {
  text-align: center;
  margin: 3vh;
  font-family: BerkshireSwash;
  font-weight: 400;
  font-size: 4vh;
  color: red;
}

#card {
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}
