#card-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 6vh;
  margin: 3rem;
}

#author {
  text-align: center;
  font-size: 1.3rem;
}

#buttonSS-container {
  text-align: center;
  margin: auto;
}
