#card-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 2.2em;
  margin: 2vh;
}

#author {
  text-align: center;
  font-size: 1.5em;
  font-weight: 400;
  font-family: Great Vibes;
}

#buttonSS-container {
  text-align: center;
  margin: auto;
  font-weight: 400;
  font-size: 1em;
}

#text {
  text-align: center;
  margin: 1vw;
  font-family: Permanent Marker;
  font-weight: 400;
  font-size: 1.6em;
}

#card {
  background-color: hsla(0, 0%, 0%, 0.808);
}
