#card-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 6vh;
  margin: 3vh;
}
#card {
  max-width: 60%;
}

#author {
  text-align: center;
  font-size: 3vh;
  font-weight: 100;
}

#buttonSS-container {
  text-align: center;
  margin: auto;
}
