#card-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 2em;
  margin: 2vh;
}

#author {
  text-align: center;
  font-size: 0.8em;
  font-weight: 400;
}

#buttonSS-container {
  text-align: center;
  margin: auto;
  font-weight: 400;
  font-size: 1em;
}

#text {
  text-align: center;
  margin: 1vw;
  font-family: BerkshireSwash;
  font-weight: 400;
  font-size: 1.1em;
}

#card {
  background-color: hsla(0, 0%, 100%, 0.644);
}
