#author {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 200;
  font-family: Great Vibes;
  margin-top: 1rem;
}

#buttonSS-container {
  text-align: center;
  margin: auto;
  font-weight: 400;
  font-size: 1rem;
}

#text {
  text-align: center;
  margin: 1vw;
  font-family: Permanent Marker;
  font-weight: 400;
  font-size: 1.6rem;
  margin-top: 1rem;
}

#card {
  background-color: hsla(0, 0%, 0%, 0.808);
  margin: 1rem auto 1rem auto;
}
