#quote-box {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
#footer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  display: block;
  margin-top: 2em;
  font-size: 1em;
  color: #fff;
}

#footerA {
  font-family: "Nova Cut", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: #fff;
}
