#quote-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}
#footer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  display: block;
  margin-top: 1rem;
  font-size: 1rem;
  color: #fff;
}

#footerA {
  font-family: "Nova Cut", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: #fff;
}
#title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 2.2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
