body {
  margin: auto;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}
@font-face {
  font-family: "Great Vibes";
  src: local("GreatVibes"),
    url("./fonts/GreatVibes-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nova Cut";
  src: local("NovaCut"), url("./fonts/NovaCut-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Permanent Marker";
  src: local("Permanent Marker"),
    url("./fonts/PermanentMarker-Regular.ttf") format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
